*{
    font-family: 'Nunito', sans-serif;
}
body{
  background-color: #fff2e9;
}
/* Header specific styling */
h1{
    font-size: 400%;
    font-weight: bold;
    padding: 50px;
    color:#fff2e9;;
    background-image: url('https://images.unsplash.com/photo-1609083590460-7b8cc0ca65f8?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-color: #000000;
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0;
}

/* Header and Page titles*/
h1, h2{
    font-family: 'Concert One', sans-serif;
    text-align: center;
}

h2 {
    padding: 25px;
}

/* Footer styling */
footer {
    margin-top:100px;
    padding-bottom: 30px;
}
/* Nav links and footer styling */
.nav, footer {
    margin-right: 4%;
    font-size: 120%;
}

/* Dev Icon styling */
#avatar {
    border-radius: 70% 80% 80% 40% / 80% 30% 70% 90%;
    width: 250px;
}

.custom-btn{
    background-color: #ff4036;
    color:white;
    border-radius: 10px;
    border-style: none;
}

/* Contact form styling */
.custom-btn:hover {
    background-color: #ffb4b0
}

.custom-input {
    width: 500px;
    font-size: 14px;
    border-radius: 5px;
};
